@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
body {
    height: 100vh;
    box-sizing: border-box;
    border: 5px solid orangered;
    background-color: black;
    color: orangered;
}
.titulo-incrivel {
    font-weight: bold;
    color:#4A22E6;
}
.apresentacao {
    margin: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row nowrap;
}
.apresentacao__textos {
    width: 500px;
    font-family: 'Cinzel', serif;
}
.imagem_mais_texto{
    transition: 1s;
}
h1 {
    font-size: 25px;
}
p {
    font-size: 20px;
}
strong {
    font-weight: 600;
}
.redes_sociais{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}
button{
    background-color: black;
}
.link {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    background-color: black;
    border: 2px solid orangered;
    font-weight: 600; 
    width: 200px;
    padding: 5px;
    font-size: 19px;
    border-radius: 25px;
    text-decoration: none;
    color: #22E627;

    transition: 1s;
}
.link:hover {
    background-color: rgb(75, 21, 1);
    border-radius: 30px;
    transition: 1s;
    width: 220px;
}