@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
body {
    /* height: 100vh; */
    box-sizing: border-box;
    border: 0px solid orangered;
    background-color: black;
    color: orangered;
}

.ul{
    display: flex;
    flex-grow: row nowrap;
    justify-content: center;
    align-items: center;
}
.li{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.titulo-incrivel {
    font-weight: bold;
    color:#4A22E6;
    font-weight: 600;
}
.apresentacao {
    padding: 8% 10%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: row nowrap;
}
.apresentacao__textos {
    width: 500px;
    font-family: 'Cinzel', serif;
}
.imagem_mais_texto{
    transition: 1s;
}
h1 {
    font-size: 25px;
}
h2{
    font-size: 20px;
}
.h2{
    padding-top: 15px;
}
p,li,ul {
    color: rgb(155, 42, 1);
    font-size: 20px;
    padding-right: 5%;
}
strong {
    font-weight: 600;
}
.redes_sociais{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}
button{
    background-color: black;
}
.link {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    background-color: black;
    border: 2px solid orangered;
    font-weight: 600; 
    width: 200px;
    padding: 5px;
    font-size: 19px;
    border-radius: 25px;
    text-decoration: none;
    color: #22E627;

    transition: 1s;
}
.link:hover {
    background-color: rgb(75, 21, 1);
    border-radius: 30px;
    transition: 1s;
    width: 220px;
}
.link__menu{
    display: flex;
    gap: 2rem;
}
.link__header{
    color: orangered;
    text-decoration: none;
    font-family: 'Cinzel', serif;
    transition: 1s;
}
.link__header:hover{
    color: orange;
    font-size: 90%;
    transition: 1s;
}
header{
    display: flex;
    flex-flow: row nowrap;
    padding: 2% 0% 0% 10%;
}
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;

    text-align: center;
    padding: 5px;
    background-color: rgba(255, 68, 0, 0.37);
    color: black;
    font-family: 'Cinzel', serif;
    font-weight: 600;
    
}
.pedido_casamento{
    font-size: 50%;
    transition: 1s;
}
.pedido_casamento:hover{
    font-size: 800%;
    transition: 1s;
}